.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  text-transform: uppercase;
}

.display-header {
 font-size: 25px;
 display: flex;
 justify-content: center;
 text-transform: uppercase;

}

.display-title {
  font-size: 30px;
  width: 100%;
  text-align: center;
  
}

.display {
  text-align: left;
  width:  300px;
}

.form {
  height: 100px;
  background-color: #FB2576;
  display: flex;
  align-items: center;
}

.songform {
  width: 100%;
}

input[type="text"] {
 border: 2px solid #3F0071;
 height: 30px;
 margin-right: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
}

.formButton {
  height: 35px;
  border: 5px solid #3F0071;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.playlist {
  background-color: #3F0071;
  color: white;
}

.songs-header {
  display: flex;
  justify-content: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
