.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2 {
  text-transform: uppercase;
  color: #594545;
}

p {
  font-size: 20px;
}

a {
  color: #9E7676;
}

a:hover {
  color: #594545;
}

.display-header {
 font-size: 25px;
 display: flex;
 justify-content: center;
 text-transform: uppercase;
  color: #423434;
}

.display-title {
  font-size: 30px;
  width: 100%;
  text-align: center;
  
}

.display {
  text-align: left;
  width:  300px;
}

.form {
  height: 100px;
  background-color: #815B5B;
  display: flex;
  align-items: center;
}

.songform {
  width: 100%;
}

input[type="text"] {
 border: 2px solid #815B5B;
 border-radius: 10px;
 height: 30px;
 margin-right: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
}

.formButton, select {
  height: 35px;
  width: 200px;
  border: 3px solid #9E7676;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.playlist {
  background-color: #9E7676;
  color: #FFF8EA;
}

.songs-header {
  display: flex;
  justify-content: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFF8EA;
}

.App-link {
  color: #61dafb;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  
}

.navBar li {
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 40px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
